.blog-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  margin-top: 200px;
}

.blog-container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 60px;
}

.blog-title h2 {
  font-size: 56px;
  line-height: 67px;
  font-weight: 700;
}

.blog-title span {
  color: var(--brand-orange);
}

.blog-desc {
  max-width: 540px;
}

.blog-desc p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.blog-view-btn {
  background: none;
  border: 2px solid var(--brand-orange);
  color: var(--brand-orange);
  padding: 13px 30px;
  border-radius: 24px;
  font-size: 14px;
  cursor: pointer;
  font-family: "outfit";
}

.blog-bottom {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: stretch;
}

.blog-left {
  flex: 1.2;
}

.blog-card {
  border: 2px solid var(--primary-white);
  border-radius: 50px;
  overflow: hidden;
}

.blog-card-img {
  width: 100%;
  height: auto;
  display: block;
}

.blog-card-lower {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card-text h5 {
  font-size: 18px;
  font-weight: 400;
}

.blog-card-text p {
  font-size: 26px;
  margin-top: 8px;
  font-weight: 700;
}

.blog-right {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.right-card {
  border-radius: 35px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .blog-container {
    width: 90%;
  }
  .blog-card {
    border-radius: 50px;
  }
  .blog-title h2 {
    font-size: 42px;
  }

  .blog-desc p {
    font-size: 15px;
  }

  .blog-top {
    gap: 30px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .blog-section {
    padding: 0 10px;
    margin-top: 150px;
  }
  .blog-container {
    width: 90%;
  }
  .blog-card {
    border-radius: 40px;
  }
  .blog-top {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  .blog-desc {
    max-width: 700px;
  }

  .blog-bottom {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .blog-left,
  .blog-right {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .blog-section {
    padding: 0 10px;
    margin-top: 100px;
  }
  .blog-container {
    padding: 0 20px;
  }
  .blog-card {
    border-radius: 35px;
  }
  .blog-top {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .blog-bottom {
    flex-direction: column;
    gap: 32px;
  }

  .blog-left,
  .blog-right {
    width: 100%;
  }

  .blog-card-lower {
    padding: 14px 20px;
  }

  .blog-card-text p {
    font-size: 15px;
  }
  .blog-top,
  .blog-title,
  .blog-desc,
  .blog-desc p {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .blog-section {
    margin-top: 50px;
  }
  .blog-title h2 {
    font-size: 36px;
    line-height: 1.25;
  }
  .blog-desc p {
    font-size: 20px;
  }

  .blog-view-btn {
    font-size: 14px;
    padding: 10px 22px;
  }

  .blog-card-lower {
    padding: 14px 20px;
  }

  .blog-card-text p {
    font-size: 14px;
  }

  .blog-bottom {
    gap: 28px;
  }
}
