.about {
  position: relative; /* needed for absolute shape */
  display: flex;
  gap: 60px;
  margin: 0px 0 200px 300px;
}

.about > * {
  position: relative;
  z-index: 5; /* content stays above the shape */
}

.wiggly-frame {
  position: relative;
}
.experience {
  position: absolute;
  top: 5px;
  left: 28px;
  width: 113px;
  height: 143px;
}
.up-arrow {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 113px;
  height: 143px;
}
.exp-years {
  color: var(--brand-orange);
  font-size: 65px;
  font-weight: 800;
}
.experience span {
  color: var(--text-white);
  font-size: 22px;
  font-weight: 400;
}
.about-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--brand-orange);
  margin-bottom: 15px;
}
.about-title span {
  margin-left: 10px;
}

.about-desc {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  margin-bottom: 15px;
}

.right {
  margin-top: 40px;
  max-width: 700px;
  width: 100%;
  min-width: 0;
}

.right-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
}
.points {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 18px;
}

.points li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-white);
}

.download-btn {
  display: flex;
  width: 220px;
  height: 62px;
  background: none;
  color: var(--brand-orange);
  border: none;
  border-radius: 2rem;
  border: 2px solid var(--brand-orange);
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.download-btn span {
  margin-right: 10px;
  margin-top: 5px;
}
.blur-bg {
  position: absolute;
  z-index: inherit;
  width: 100%;
}
