.testi {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.testi-container {
  position: relative;
  width: 1320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-label {
  color: var(--brand-orange);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.testi-label span {
  margin-left: 10px;
}

.testi-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 60px;
}
.testi-title span {
  color: var(--brand-orange);
}

.testi-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.testi-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.testi-quote {
  width: 115px;
  height: 80px;
  margin-bottom: 50px;
  opacity: 0.3;
}
.testi-name {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.testi-stars {
  color: #ffd700;
  margin-bottom: 30px;
  font-size: 30px;
}
.testi-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 65px;
  height: 100px;
}

.testi-right {
  display: flex;
  align-items: flex-end;
  gap: 22px;
  overflow: hidden;
}

.testi-card-wrapper {
  flex-shrink: 0;
  width: 240px;
  display: flex;
  justify-content: center;
  transition: all 0.35s ease;
}

.active-wrapper {
  height: 100%;
}

.inactive-wrapper {
  height: 50%;
  opacity: 0.6;
}

.testi-card-img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}

.testi-controls {
  display: flex;
  flex-direction: column;

  height: 90px;
  justify-content: space-between;
}

.testi-nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.testi-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.testi-dots {
  display: flex;
  gap: 10px;
  margin: 12px 0;
}

.testi-dot {
  width: 10px;
  height: 10px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.testi-dot.active {
  background: var(--brand-orange);
  transform: scale(1.3);
}

@media (max-width: 1330px) {
  .testi-container {
    padding: 0 0 0 10px;
  }
}
@media (min-width: 992px) {
  .testi {
    margin-top: 180px;
  }
  .testi-content {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }

  .testi-left {
    width: 480px;
    flex-shrink: 0;
  }

  .testi-right {
    flex-grow: 1;
    justify-content: flex-start;
  }
}

@media (max-width: 991px) {
  .testi {
    margin-top: 150px;
  }
  .testi-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testi-right {
    margin-top: 40px;
    justify-content: center;
    height: auto;
  }

  .testi-card-wrapper {
    width: 180px;
  }
  .testi-desc {
    margin-bottom: 0;
  }
  .active-wrapper {
    height: 280px;
  }

  .inactive-wrapper {
    height: 150px;
  }

  .testi-nav {
    margin: auto;
    gap: 20px;
  }
  .testi-controls {
    margin-top: 20px;
    height: 70px;
  }
  .testi-quote {
    display: none;
  }
}

@media (max-width: 767px) {
  .testi {
    margin-top: 100px;
  }
  .testi-title {
    font-size: 40px;
  }

  .testi-card-wrapper {
    width: 150px;
  }

  .active-wrapper {
    height: 240px;
  }

  .inactive-wrapper {
    height: 130px;
  }
}

@media (max-width: 575px) {
  .testi {
    margin-top: 50px;
  }
  .testi-title {
    font-size: 35px;
  }

  .testi-card-wrapper {
    width: 130px;
  }

  .active-wrapper {
    height: 200px;
  }

  .inactive-wrapper {
    height: 110px;
  }
}

@media (max-width: 420px) {
  .testi {
    margin-top: 50px;
  }
  .testi-card-wrapper {
    width: 110px;
  }

  .active-wrapper {
    height: 180px;
  }

  .inactive-wrapper {
    height: 90px;
  }

  .testi-quote {
    width: 60px;
  }
  .testi-title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .testi-card-wrapper {
    width: 100px;
  }

  .active-wrapper {
    height: 160px;
  }

  .inactive-wrapper {
    height: 80px;
  }
}
