.contact-section {
  width: 100%;
  background: var(--bg-violet);
  color: var(--text-white);
  margin-top: 200px;
  box-sizing: border-box;
}

.contact-container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 64px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-left {
  flex: 0 0 420px;
  display: flex;
  flex-direction: column;
  /* gap: 28px; */
}

.contact-title {
  font-size: clamp(56px, 3.5vw, 44px);
  font-weight: 800;
  margin-bottom: 15px;
}

.contact-title span {
  color: var(--brand-orange);
}

.contact-sub {
  max-width: 320px;
  margin-bottom: 65px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 70px;
}

.contact-item {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.contact-meta {
  font-size: 20px;
  font-weight: 500;
  opacity: 50%;
  margin-bottom: 5px;
}

.contact-value {
  font-size: 20px;
  font-weight: 400;
}

.contact-share-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-socials {
  display: flex;
  gap: 25px;
}

.contact-socials img {
  width: 26px;
  height: 26px;
}

.contact-right {
  flex: 1 1 700px;
  display: flex;
  justify-content: flex-end;
}

.contact-form {
  width: 100%;
  max-width: 650px;
  padding: 30px;
  border-radius: 18px;
  border: 2px solid var(--primary-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-head span {
  margin-left: 10px;
}
.contact-form-head h3 {
  font-size: 32px;
  font-weight: 600;
}

.contact-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-field-label {
  font-size: 18px;
  opacity: 50%;
  font-weight: 300;
}
.contact-field-input {
  color: aqua;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 2px solid var(--primary-white);
  padding: 17px 14px;
  border-radius: 8px;
  color: var(--text-white);
}

.contact-form textarea {
  height: 170px;
}

.contact-actions {
  margin-top: 20px;
}

.contact-submit-btn {
  background: transparent;
  color: var(--brand-orange);
  border: 2px solid var(--brand-orange);
  padding: 18px 70px;
  border-radius: 30px;
  font-family: "outfit";
  font-size: 20px;
}

@media (min-width: 1200px) {
  .contact-container {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .contact-container {
    width: 90%;
    gap: 50px;
    margin-top: -50px;
  }

  .contact-left {
    flex: 0 0 380px;
    transform: scale(0.92);
    transform-origin: top left;
  }

  .contact-form {
    transform: scale(0.95);
    transform-origin: top right;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .contact-container {
    width: 90%;
    gap: 50px;
    align-items: center;
    margin-top: -75px;
  }

  .contact-left {
    transform: scale(0.9);
    transform-origin: top center;
  }

  .contact-right {
    justify-content: center;
    width: 100%;
  }

  .contact-form {
    max-width: 520px;
  }
}

@media (max-width: 767px) {
  .contact-container {
    width: 95%;
    flex-direction: column;
    gap: 40px;
    margin-top: -100px;
  }

  .contact-left {
    transform: scale(0.82);
    transform-origin: top center;
    margin: 0 auto;
  }

  .contact-socials img {
    width: 22px;
    height: 22px;
  }

  .contact-right {
    width: 100%;
    justify-content: center;
    margin-top: -80px;
  }

  .contact-form {
    width: 100%;
    padding: 22px;
  }
}

@media (max-width: 575px) {
  .contact-container {
    width: 100%;
    padding-inline: 8px;
    gap: 32px;
    flex-direction: column;
    margin-top: -150px;
  }

  .contact-left {
    transform: scale(0.75);
    transform-origin: top center;
  }
  .contact-right {
    margin-top: -150px;
  }

  .contact-form {
    transform: scale(0.95);
    transform-origin: top center;
    width: 100%;
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
    padding: 10px 12px;
  }

  .contact-submit-btn {
    width: 140px;
    height: 44px;
    padding: 8px 0;
    font-size: 14px;
  }
}
