.gradient-bg {
  position: relative;
  background: linear-gradient(180deg, #8c01db 0%, #fa614f 183.7%);
  padding: 25px 150px;
  width: 100%;
  height: 90px;
  overflow: visible;
  margin-bottom: 200px;
}

.bg-rectangle {
  background-color: #8c01db;
}

.logos {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.tilte-1,
.tilte-2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  border: 1px solid var(--primary-white);
  z-index: 2;
}
.tilte-1 {
  top: 0;
  transform: rotate(1deg); /* tilt down right */
  transform-origin: center;
}

.tilte-2 {
  bottom: 0;
  transform: rotate(-1deg); /* tilt down left */
  transform-origin: center;
}
