.navbar {
  position: fixed;
  padding: 20px 10px 0 10px;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(12px);
  margin-bottom: 56px;
}

.tele-img {
  width: 18px;
  height: 18px;
}

.chat-btn {
  color: var(--text-white);
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Outfit", "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 54px;
  width: 175px;
  background-color: var(--brand-orange);
  border: none;
  border-radius: 2rem;
  padding: 14.5px 0;
}

.nav-inner {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo:hover {
  color: var(--text-white);
}

.desktop-nav {
  display: none;
}

.nav-ul {
  display: flex;
  gap: 65px;
  list-style: none;
}

.nav-li {
  color: var(--text-white);
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-li:hover {
  color: var(--text-white);
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger img {
  width: 26px;
  height: 26px;
}

.mobile-menu {
  display: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.mobile-chat-btn {
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 54px;
  background-color: var(--brand-orange);
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 18px;
  gap: 8px;
}
.mobile-menu.show {
  display: block;
}

.mobile-menu .nav-ul {
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 1024px) {
  .desktop-nav {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
@media (min-width: 992px) {
  .chat-btn {
    display: flex;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .desktop-nav {
    display: flex;
    gap: 45px;
  }

  .hamburger {
    display: none;
  }

  .mobile-chat-btn {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .chat-btn {
    display: none;
  }

  .mobile-chat-btn {
    display: flex;
  }
}
@media (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .chat-btn {
    display: none;
  }

  .nav-ul {
    flex-direction: column;
    gap: 20px;
  }

  .mobile-chat-btn {
    display: flex;
  }
}

@media (max-width: 575px) {
  .nav-ul {
    gap: 16px;
  }

  .mobile-chat-btn {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }
}
