.service-card {
  width: 15%;
  height: 408px;
  border: 2px solid var(--primary-white);
  border-radius: 2rem;
  display: flex;
}
.service-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 10px 50px 10px;
  align-items: center;
}
.service-card-content img {
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
.service-card-content h3 {
  font-weight: 700;
  font-size: 26px;
}
.service-card-content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
.service-card-span {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 575px) {
  .service-card {
    min-width: 220px;
    height: auto;
    padding: 20px 0;
  }

  .service-card-content {
    padding: 40px 10px;
  }

  .service-icon {
    width: 60px;
    height: auto;
  }
}
