.expert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.cnt {
  display: flex;
  position: relative;
}
.expert-container {
  width: 1320px;
  max-width: 100%;
  text-align: center;
  padding: 0 0 0 50px;
}

.expert-title {
  font-size: 56px;
  font-weight: 700;
}
.expert-title span {
  color: var(--brand-orange);
}

.expert-subtitle {
  max-width: 850px;
  margin: 15px auto 65px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.expert-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expert-slider {
  display: flex;
  gap: 28px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 20px 0;
  width: 100%;
}

.expert-slider::-webkit-scrollbar {
  display: none;
}

.service-card {
  min-width: 300px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.expert-arrow-right {
  position: absolute;
  top: 60%;
  right: -5%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.expert-arrow-left {
  position: absolute;
  top: 60%;
  left: -5%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.expert-arrow img {
  width: 4rem;
  height: 4rem;
}

.expert-arrow:hover {
  transform: scale(1.1);
}
@media (max-width: 1460px) {
  .expert-container {
    max-width: 90%;
  }
  .cnt {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
}
@media (max-width: 991px) and (min-width: 768px) {
  .expert {
    margin-top: 150px;
  }
}
@media (max-width: 767px) {
  .expert {
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .expert-container h2 {
    font-size: 36px;
    line-height: 1.25;
  }
  .a .expert-container p {
    font-size: 20px;
  }
  .expert-arrow-right {
    position: absolute;
    top: 70%;
    right: -5%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .expert-arrow-left {
    position: absolute;
    top: 70%;
    left: -5%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .expert {
    margin-top: 50px;
  }
}
