.proj {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  padding-inline: 16px;
}

.proj-container {
  max-width: 100%;
  text-align: center;
}

.proj-label {
  color: var(--brand-orange);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.proj-label span {
  margin-left: 10px;
}

.proj-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 67px;
}

.proj-categories {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 65px;
  width: max-content;
  margin-inline: auto;
}

.proj-tab {
  font-size: 20px;
  font-weight: 400;
  border: 2px solid transparent;
  padding: 5px 22.5px;
  border-radius: 9px;
  color: var(--text-white);
  cursor: pointer;
  transition: 0.3s ease;
}

.proj-tab.active {
  border-color: var(--brand-orange);
  color: var(--brand-orange);
}

.proj-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-slider {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  scrollbar-width: none;
  width: 100%;
  padding-bottom: 12px;
  z-index: 1;
}

.proj-slider::-webkit-scrollbar {
  display: none;
}

.proj-card {
  padding-bottom: 20px;
  flex: 0 0 100%;
  scroll-snap-align: center;
}
.proj-img {
  margin-bottom: 35px;
}
.proj-card h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.proj-card p {
  font-size: 18px;
  font-weight: 400;
  opacity: 50%;
}
.proj-arrows {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 12px;
  z-index: 20;
  pointer-events: auto;
}

.proj-arrow {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.18s ease;
}

.proj-arrow:hover {
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  .proj-card {
    flex-basis: 28%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .proj-card {
    flex-basis: 32%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .proj {
    margin-top: 150px;
  }
  .proj-card {
    flex-basis: 40%;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .proj {
    margin-top: 100px;
  }
  .proj-img {
    flex-basis: 55%;
  }
}
@media (max-width: 575px) {
  .proj {
    margin-top: 50px;
  }
  .proj-card {
    padding-bottom: 20px;
    width: 100%;
    scroll-snap-align: center;
  }
  .proj-img {
    margin-bottom: 35px;
    width: 100%;
  }
  .proj-categories {
    margin-bottom: 20px;
  }
  .proj-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
